<% books&.each.with_index(1) do |book, index| %>
  <% if book[:image].present? %>
    <div class="item" data-src="<%= book[:image] %>" data-url="<%= book[:url] %>" data-title="<%= book[:title] %>">
      <div class='item-img'>
        <%= image_tag book[:image], width: '55px', id: "image#{index}" %>
      </div>
      <div class='item-title'>
        <%= book[:title] %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  // プレビュー表示させるためのメソッド
  function preview_image(url, src, title){
    $(`#preview_image`).attr("src", src);
    $(`#preview_url`).attr("href", url);
    $(`.img`).data("title", title);
  }

  $(".item").on("click", function () {
    preview_image($(this).data('url'), $(this).data('src'), $(this).data('title'));
    $(`#items`).css('display','none');
    $('#confirmation-button').css('display','');
    $('#keyword').val('');
});
</script>
